<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Предыдущая</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Предыдущая</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Содержание</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Следующая &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Следующая &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
  </div>
</div>
